body{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #000000;
    background-image: url(../IMAGES/pattern01.png);
}
main section{
    float:left;
    display: block;
}

/*Navigation stuff*/
nav ul{
    margin:0px;
    padding: 14px;
    width:100%;
    background-color: #2e2e2e;
    list-style-type: none;
    margin-bottom: 10px;
    height: 16px;
}
nav ul li{
    float:left;
}
nav ul li a{
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #545454;
}
#active{
    background-color: #545454;
}

/*Blog Stuffs*/
#BlogNav button{
    border: none;
    padding: 14px 16px;
    color: white;
    background-color: #2e2e2e;
    margin-left:10px;
}
#BlogNav button:hover{
    background-color: #545454;
}
#BlogElem div{
    border: solid white;
    width: 50%;
    text-align: center;
    margin:10px;
}
#BlogElem div img{
    width: 66%;
}
/*HTML body elements*/
header{
    margin-top:50px;
    text-align: center;
}
footer p{
    font-family: "Lucida Console", Courier, monospace;
    color:#000000;
}
/*Stuffs that has to update trough dif. devices*/
@media (max-width: 1920px){
    
}
@media (max-width: 1020px){
    
}
@media (max-width: 600px){
    #BlogElem div{
        width: 95%;
    }
}